body {
  font-family: 'Open Sans', sans-serif;
  background: #fff url(./images/pt.png) -24px top repeat;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
}

input,
textarea {
  outline: none;
}

h2,
p {
  margin: 0;
}

.content {
  box-sizing: border-box;
  width: 100%;
}

@media (min-width: 1200px) {
  .content {
    width: 1200px;
  }
}

.content-padding {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Alignment */
.center-align {
  text-align: center;
  align-items: center;
}

.right-align {
  text-align: right;
}

.align-end {
  align-self: flex-end
}

/* Header */

header{
  position: fixed;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  transition: all 0.3s ease, padding 0s ease;
  z-index: 999;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .header-nav  {
    flex-direction: row;
  }
}

.header-nav-active{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(129,130,160,0.05), 0 10px 10px rgba(129,130,160,0.22);
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item {
  margin-bottom: 10px;
  margin-left: 50px;
  font-size: 20pх;
  color: rgb(136, 141, 168);
}

@media (min-width: 920px) {
  .menu-item {
    margin-bottom: 0;
  }
}

.menu-item-bottom {
  margin-left: 0px;
}

@media (min-width: 920px) {
  .menu-item-bottom {
    margin-left: 50px;
  }
}

.active-menu-item {
  color: rgb(103, 136, 243);
}

.header-control {
  display: flex;
  align-items: center;
}

.languages {
  display: flex;
}

.language-item {
  margin-left: 20px;
  font-size: 20pх;
  color: rgb(136, 141, 168);
}

.active-language {
  color: rgb(26, 43, 79);
}

.login-button {
  display: none;
}

@media (min-width: 768px) { 
  .login-button {
    display: flex;
    padding-left: 12px;
    width: 70px;
    height: 25px;
    font-size: 20pх;
    color: rgb(136, 141, 168);
    background-color: rgb(243, 244, 249);
    border: 1px solid rgb(103, 136, 243);
    border-radius: 4px;
  }
}

/* Main-page */
.intro-section {
  padding-top: 120px;
  padding-bottom: 40px;
  width: 100%;
  background: url('./images/background-1.png') top no-repeat;
  background-size: cover;
}

.large-screen {
  display: none;
}

@media (min-width: 768px) {
  .large-screen {
    display: block;
  }
}

.name {
  position: relative;
  padding-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: rgb(26, 43, 79);
}

.description {
  position: relative;
  padding-bottom: 40px; 
  font-family: "SFUIDisplay-Regular"; 
  font-size: 16px;
  line-height: 1.375;
  color: rgb(136, 141, 168);
}

.intro-button {
  height: 45px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: rgb(103, 136, 243);
}

.button-shadow {
  box-shadow: 0px 7px 15px 0px rgba(103, 136, 243, 0.25);
}

.begin-button {
  width: 260px;
  text-align: center;
  border: 1px solid rgb(103, 136, 243);
  border-radius: 30px;
}

.large-begin-button {
  height: 55px;
  font-size: 17px;
  color: rgb(255, 255, 255);
  background-color: rgb(103, 136, 243);
}

.bordered-button {
  height: 55px;
  color: rgb(103, 136, 243);
}

.button-margin {
  margin: 0 15px 20px;
}

/* Overview */

.overview-section {
  padding-top: 120px;
  width: 100%;
}

.screens{
  position: relative;
  padding-right: 70px;
}

.white-screen {
  position: absolute;
  top: -30px;
  left: 70px;
}

.info-container {
  display: flex;
  flex-flow: column;
  padding-bottom: 40px;
  text-align: center;
}

@media (min-width: 1250px) {
  .info-container {
    flex-flow: row;
    padding-bottom: 160px;
    text-align: left;
  }
}

.center-info-container {
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .center-info-container {
    padding-bottom: 160px;
  }
}

.left-img{
  align-self: center;
}

@media (min-width: 768px) {
  .left-img {
    margin-right: 30px;
  }
}

.right-img {
  flex: none;
  width: 390px;
  align-self: center;
}

.left-desc {
  padding-right: 30px;
}

.img-push {
  display: flex;
  flex: none;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  width: 330px;
  height: 120px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255); 
  box-shadow: 0px 0px 9px 0px rgba(123, 119, 119, 0.17);
}

.push-desc {
  padding-left: 30px;
  font-size: 16px;
  color: rgb(26, 43, 79);
}

.phone-mark {
  width: 34px;
  height: 34px;
}

.phrase-container{
  position: relative;
  display: flex;
  flex-direction: column;
}

.soon{
  position: absolute;
  top: -8px;
}

.background-phrase{
  font: 900 136px 'Montserrat', sans-serif;
  color: rgb(249, 249, 252);
}

.background-phrase-container {
  position: absolute;
  top: -8px;
  max-width: 100vw;
  overflow: hidden;
}

/* Tariff plan */
.tariffs-section {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: rgb(243, 244, 249);
}

.tariffs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tariff-container {
  position: relative;
  padding-bottom: 45px;
  margin-top: 45px;
  min-width: 350px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.margin-right {
  margin-right: 30px;
}

.tariff-name {
  padding-top: 45px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: rgb(26, 43, 79);
}

.price {
  font-size: 36px;
  font-weight: bold;
  color: rgb(103, 136, 243);
}

.period {
  font-size: 20px;
  color: rgb(136, 141, 168);
}

.recommend {
  width: 100px;
  height: 30px;
  position: absolute;
  right: 0;
  font-size: 13px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgb(243, 103, 149);
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
}

.recommend-phrase {
  padding-top: 8px;
  padding-bottom: 8px;
}

.conditions {
  margin: 0;
  padding: 0;
  height: 300px;
}

.conditions li {
  padding-top: 25px;
  list-style-type: none;
}

/* Feedback */

.feedback-section {
  padding: 70px 0 140px;
}

.quotation-mark {
  margin-bottom: 30px;
  width: 41px;
  height: 27px;
}

.decor-line {
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 120px;
  background: #F2F2F8;
}

.arrow-button {
  align-self: center;
  height: 35px;
  width: 17px;
  cursor: pointer;
  opacity: 0.5;  
  background-image: url('./images/arrow.png') ;
  background-size: cover;
  border: none;
}

.arrow-next {
  transform: rotate(180deg);
}

.mark {
  padding-right: 5px;
  color: rgb(103, 136, 243);
}

.fb-name {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 30px; 
  font-size: 16px;
  font-weight: 600;
  color: rgb(26, 43, 79); 
}

.fb-info {
  height: 60px; 
  font-family: "SFUIDisplay-Regular"; 
  font-size: 14px;
  line-height: 1.375;
  color: rgb(136, 141, 168);
}

.container-padding {
  padding-bottom: 30px;
}

.feedback-slider {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.photo-container {
  margin: 5px;
}

/* Footer */

footer {
  background-color: rgb(39, 49, 64);
}

.top-footer {
  padding-top: 45px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(63, 74, 90);
}

.input-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 920px) {
  .input-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-input {
  margin-top: 20px;
  margin-right: 30px;
  padding-left: 30px;
  height: 50px;
  width: calc(100% - 32px);
  color: rgb(143, 152, 164);
  font-size: 16px;
  border: 1px solid rgb(57, 68, 83);
  border-radius: 30px;
  background-color: rgb(57, 68, 83);
}

@media (min-width: 920px) {
  .footer-input {
    flex-direction: row;
    max-width: 250px;
    margin-top: 0;
  }
}

.footer-input::-webkit-input-placeholder {color:rgb(143, 152, 164);}
.footer-input::-moz-placeholder          {color:rgb(143, 152, 164);}
.footer-input:-moz-placeholder           {color:rgb(143, 152, 164);}
.footer-input:-ms-input-placeholder      {color:rgb(143, 152, 164);}

.textarea-wrapper {
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-top: 17px;
  color: rgb(143, 152, 164);
  font-size: 16px;
  border-radius: 30px;
  background-color: rgb(57, 68, 83);
  resize: none;
  border: 1px solid rgb(57, 68, 83);
  width: calc(100% + 30px);
  height: 100px;
}

@media (min-width: 920px) {
  .textarea-wrapper {
    margin: 0;
    margin-right: 30px;
    width: 340px;
    height: 54px;
  }
}

.textarea-wrapper::-webkit-input-placeholder {color:rgb(143, 152, 164);}
.textarea-wrapper::-moz-placeholder          {color:rgb(143, 152, 164);}
.textarea-wrapper:-moz-placeholder           {color:rgb(143, 152, 164);}
.textarea-wrapper:-ms-input-placeholder      {color:rgb(143, 152, 164);}

.offer {
  font: 300 20px 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
}

@media (min-width: 768px) {
  .offer {
    padding-bottom: 25px;
  }
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 25px 0;
}

@media (min-width: 920px) {
  .bottom-footer {
    flex-direction: row;
  }
}

.menu-item-white {
  color: rgb(255, 255, 255);
}

.menu-bottom {
  display: flex;
  flex-direction: column;
}

@media (min-width: 920px) {
  .menu-bottom {
    flex-direction: row;
  }
}

.send-button {
  text-align: center;
  align-self: center;
  width: 170px;
  height: 50px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: rgb(103, 136, 243);
  border: 1px solid rgb(103, 136, 243);
  border-radius: 30px;
}

.network {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
  padding-left: 70px;
  width: 40px;
  font-size: 21px;
  color: rgb(143, 152, 164);
}

.footer-control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  padding: 10px;
}

.logo {
  margin-bottom: 10px;
}

@font-face {
  font-family: "SFUIDisplay-Regular"; 
  src: url("./fonts/SFUIDisplay-Regular.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}